flask
flask-mail
flask-uploads
flask-sqlalchemy
sqlalchemy
gunicorn
pyjwt
python-dateutil
email_validator
psycopg2-binary
setuptools
Flask_login
flask-wtf
wtforms
flask_bcrypt
pillow
flask-babel
babel
python-dotenv
requests
flask-cors